# The linguist repo contains directories with spaces in the names,
# which aren't handled well by Bazel. This flag works around that
# limitation.
#
# https://github.com/bazelbuild/bazel/issues/4327#issuecomment-1664520608
build --experimental_inprocess_symlink_creation

test --test_verbose_timeout_warnings

build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks

common --noenable_bzlmod
